<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zm.platform.yw.manage.dao.system.UserDao">

  <resultMap type="SysUser" id="selectUserRoles">
		<id property="id" column="id"></id>
		<!-- column:子查询的参数  {id=id} -->
		<collection property="roleList" ofType="Role" select="getRoleListByUserId" column="id">
			<id property="id" column="id"></id>
		</collection>
  </resultMap>
  
  <select id="getRoleListByUserId" resultType="Role" parameterType="Long">
  	select * from sysrole where id in (select role_id from sys_user_role where user_id=#{id})
  </select>

  <!-- 登录名查询用户 -->
  <select id="getUserByLoginName" parameterType="java.lang.String" resultMap="selectUserRoles">
  	select * from sysuser where login_name = #{login_name} and valid=1
  </select>
  
  <!-- id查询用户 -->
  <select id="getObjectById" parameterType="Long" resultMap="selectUserRoles">
  	select * from sysuser where id = #{id}
  </select>
  
  <!-- 查询所有用户 -->
  <select id="getObjectListByPage" parameterType="java.lang.String" resultMap="selectUserRoles">
  	select * from sysuser
	<if test="valid!=null and valid!=''">
         where valid = #{valid}
     </if>
  </select>
  
  <!-- 增加一个用户 -->
  <insert id="saveObject" parameterType="SysUser" useGeneratedKeys="true" keyProperty="entity.id">
  	insert into sysuser
  	(login_name,user_name,photo,password,salt,email,mobile,valid,create_time,modify_time,create_user,modify_user)
	values
	(#{entity.loginName},#{entity.userName},#{entity.photo},#{entity.password},#{entity.salt},
	#{entity.email},#{entity.mobile},1,now(),now(),#{entity.createUser},#{entity.modifyUser})
  </insert>
  
  <!-- 修改用户 -->
  <update id="updateObject" parameterType="SysUser">
  	update sysuser set
	  	<if test="entity.loginName!=null and entity.loginName!=''">
  			login_name=#{entity.loginName},
	  	</if>
	  	<if test="entity.userName!=null and entity.userName!=''">
  			user_name=#{entity.userName},
	  	</if>
	    <if test="entity.photo!=null and entity.photo!=''">
			photo=#{entity.photo},
		</if>
	  	<if test="entity.password!=null and entity.password!=''">
  			password=#{entity.password},
	  	</if>
	  	<if test="entity.salt!=null and entity.salt!=''">
  			salt=#{entity.salt},
	  	</if>
	  	<if test="entity.email!=null and entity.email!=''">
  			email=#{entity.email},
	  	</if>
	  	<if test="entity.mobile!=null and entity.mobile!=''">
  			mobile=#{entity.mobile},
	  	</if>
	  	<if test="entity.valid==0 or entity.valid==1">
  			valid=#{entity.valid},
	  	</if>
	  	<if test="entity.modifyUser!=null and entity.modifyUser!=''">
  			modify_user=#{entity.modifyUser},
	  	</if>
	  	modify_time=now()
  	where id=#{entity.id}
  </update>
  
  <select id="getRoleList" parameterType="Long" resultMap="com.zm.platform.yw.manage.dao.system.RoleDao.selectRoleMenu">
  	select * 
  	from sysrole t1,sys_user_role t2
  	where t1.id=t2.role_id
  	and t2.user_id=#{userId}
  </select>
  
  <delete id="deleteObjectByIds" parameterType="string">
  	delete from sysuser where id in 
  	<foreach item="item" collection="array" separator="," open="(" close=")" index="">
		#{item}
	</foreach>
  </delete>
  
</mapper>